<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/room.css">
  <title>Video Chat Application</title>
  <script src="./js/lib/moment.js" type="text/javascript"></script>
  <script src="./js/lib/mustache.js" type="text/javascript"></script>
  <script src="/socket.io/socket.io.js" charset="utf-8" type="text/javascript"></script>
  <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
  <script src="https://kit.fontawesome.com/790b3623be.js" crossorigin="anonymous"></script>
  <script type="text/javascript">
    const ROOM_ID = "<%= roomId %>";
    const USERNAME = "<%= username%>";
    const PEER_PORT = "<%= peer_port%>";
  </script>
</head>

<body>
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div id="main__participants__window" style="background-color: #404040;">
        <div class="col">
          <div class="row">
            <div class="col">
              <p class="pt-2 text-center text-white" style="font-size:1.5rem;">Participants</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div id="participants"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="" id="main__video__window" style="background-color: black;">
        <div class="row align-items-center justify-content-center" style="background-color:black;height:90%;">
          <div class="row row-cols-3" id="video-grid" style="width: 100%">
            <!-- <div class="col"></div> --> <!-- TODO: delete this line -->
          </div>
        </div>
        <div class="row justify-content-between align-items-center text-white" style="background-color:#1C1E20;height:10%;">
          <div class="col-4 mr-auto">
            <div class="row justify-content-center">
              <div class="main__controls__button" id="main__mute__button" onclick="muteUnmute()">
                <i class="fas fa-microphone"></i>
                <span>Mute</span>
              </div>
              <div class="main__controls__button" id="main_video__button" onclick="playStopVideo()">
                <i class="fas fa-video"></i>
                <span>Stop Video</span>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row justify-content-center">
              <!-- <div class="main__controls__button">
                <i class="fas fa-shield-alt"></i>
                <span>Security</span>
              </div> -->
              <div class="main__controls__button">
                <i class="fas fa-user-friends"></i>
                <span>Participants</span>
              </div>
              <div class="main__controls__button" id="main__chat__button">
                <i class="fas fa-comment-slash controls__disabled"></i>
                <span>Hide Chat</span>
              </div>
              <div class="main__controls__button" id="" data-toggle="tooltip" title="Room ID : <%= roomId %> is copied." onclick="copyToClipboard();">
                <!-- <i href="#" data-toggle="tooltip" title="Some tooltip text!">Hover over me</i> -->
                <i class="fas fa-door-closed"></i>
                <span>Copy Room ID</span>
              </div>
            </div>
          </div>
          <div class="col-4 ml-auto">
            <div class="row justify-content-center">
              <div class="main__controls__button">
                <span id="leave_meeting" data-toggle="modal" data-target="#leaveMeetingModal">Leave Meeting</span> <!-- TODO: implement leave meeting -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-between" id="main__chat__window" style="background-color: #404040;">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="col">
                <p class="pt-2 text-center text-white" style="font-size:1.5rem;">Chat</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="chat__window">
                  <ul class="list-group list-group-flush" id="messages"></ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <form onsubmit="return false" style="width:99%;">
            <div class="form-row px-4 pb-3">
              <div class="col-10">
                <input class="form-control" type="text" id="chat_message__input" placeholder="Type Message...">
              </div>
              <div class="col-2" style="width:30px;">
                <button class="form-control" id="chat_message__send" type="submit" name="button">
                  <i class="fas fa-paper-plane"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Leave Meeting Modal -->
  <div class="modal fade" id="leaveMeetingModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Leave Meeting</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to leave the meeting?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="confirmLeaveMeeting">Yes</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/template" id="message-template">
    <li class="list-group-item text-white px-2 py-2">
      <div class="card {{card_bg_class}}">
        <div class="card-header py-1">
          {{from}}
          <p class="mb-0">{{createAt}}</p>
        </div>
        <div class="card-body py-2">
          <p class="card-text m-0">{{message}}</p>
        </div>
      </div>
    </li>
  </script>

  <script type="text/template" id="participants-template">
    <ul class="list-group list-group-flush">
      {{#users}}
      <li class="list-group-item text-white px-2 py-2" style="background-color: #404040;">
        <div class="card bg-secondary">
          <div class="card-body text-white py-2">
            <p class="card-text m-0">{{.}}</p>
          </div>
        </div>
      </li>
      {{/users}}
    </ul>
  </script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script src="js/room.js" charset="utf-8" type="text/javascript"></script>
  <script src="js/room_controls.js" charset="utf-8" type="text/javascript"></script>
  <script src="js/room_chat.js" charset="utf-8" type="text/javascript"></script>
  <script src="js/room_participants.js" charset="utf-8" type="text/javascript"></script>
</body>

</html>
