body, html {
  height: 100%;
}
/*
#main__chat__window, #main__video_window, #main_participants_window {

}
*/
/* #messages li {
  white-space: normal;word-wrap: break-word;
} */
#messages .list-group-item {
  background-color: transparent;
}

.chat__window {
  max-height: 80vh;
  /* overflow: auto; */
  overflow-y: scroll;
}
#chat_message__input, #chat_message__send {
  /* flex-grow: 1; */
  background-color: transparent;
  border: none;
  color: #F5F5F5;
}

#chat_message__input {
  width: 90%;
}

#chat_message__send i {
  font-size: 20px;
  color: white;
}

.main__controls__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  min-width: 80px;
  cursor: pointer;
}

.main__controls__button i {
  font-size: 30px;
}
.main__controls__button span {
  font-size: 18px;
}

.main__controls__button:hover {
  background-color: #343434;
  border-radius: 5px;
}

.main__controls__button:hover span{
  color: white;
}

.main__controls__button:hover i{
  color: #A9A9A9;
}

.controls__disabled {
  color: #CC3B33;
}

.leave_meeting {
  color: #Eb534B;
}

#video-grid {
  display: flex;
  justify-content: center;
}

video {
  height: 300px;
  width: 400px;
  object-fit: cover;
}
